.portfolioCard {
    margin: 15px;
}

.tabletop {
    padding-left: 20%;
}

.aboutBack {
    background: radial-gradient(circle, #b0c9af, #414152, #161617);
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .text{
    color: antiquewhite;
  }
  .text2{
    color: antiquewhite;
    text-align: center;
  }